<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>446785788884-i59ilvr5vmpqhbk0l8g298btp8ihhdlm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.446785788884-i59ilvr5vmpqhbk0l8g298btp8ihhdlm</string>
	<key>API_KEY</key>
	<string>AIzaSyBhyV-faYo7E6i6uEHUFfLD9Bx7AYB9RBo</string>
	<key>GCM_SENDER_ID</key>
	<string>446785788884</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vapeteka.app</string>
	<key>PROJECT_ID</key>
	<string>vapeteka-app</string>
	<key>STORAGE_BUCKET</key>
	<string>vapeteka-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446785788884:ios:e74745707fcb382e339441</string>
</dict>
</plist>